@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111111;
  background-image: radial-gradient(circle, #2c2c2c 1px, transparent 1px);
  background-size: 40px 40px;
  height: 100vh;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px rgb(255, 255, 255) inset; /* Change background color */
}
